# Folders
__pycache__/
build/
*.egg-info
detector/YOLOv3/nms/ext/build

# Files
*.weights
*.t7
*.mp4
*.avi
*.so
*.o
*.txt
*.pth
*.pt
*.pkl
detector/YOLOV5/runs/
detector/YOLOV7/.git.bk
*.json
*.zip
*.gif

**/data/dataset
**/img1
**/img/*
**/images/*
data/dataset/*
detector/*/weights/*
BIRD
Bird2
GMOT
output


eval_results
eval_results/*